<h1>ALL POST</h1>

<table class="table table-bordered">

    <thead>
        <tr class="th">
            <th>ID</th>
            <th>File</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow Comments</th>
            <th>View Post</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {{#each posts}}
        <tr>
            <td>{{id}}</td>
            <td><img height="50px" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td><a href="/post/{{id}}">View</a></td>
            <th>{{generateDate date 'MMMM Do YYYY'}}</th>
        </tr>

        {{/each}}
    </tbody>


</table>